HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Docs folder
docs/

### Terraform ###
# Ignora el directorio de trabajo de Terraform (contiene los binarios del provider)
.terraform/

# Ignora los archivos de estado (¡MUY IMPORTANTE! Contienen datos sensibles de tu AWS)
*.tfstate
*.tfstate.backup

# Ignora el archivo de lock
.terraform.lock.hcl

# Ignora archivos de variables que podrían tener contraseñas
*.tfvars
*.tfvars.json

### AWS ###
# Ignora credenciales locales si las llegaras a guardar en la carpeta del proyecto
.aws/credentials
.aws/config

### OS ###
.DS_Store
Thumbs.db